package handler

import (
	"{{ .Name }}/internal/application/service"
)

type OAuthHandler struct {
	Service *service.OAuthService
}

func NewOAuthHandler(s *service.OAuthService) *OAuthHandler {
	return &OAuthHandler{Service: s}
}
