package main

import "log"

func (s *Application) Task(fn func() error) {
	s.wg.Add(1)

	go func() {
		defer s.wg.Done()

		err := fn()
		if err != nil {
			log.Println("task error: ", err)
		}
	}()
}
