package dto

import (
{{- if hasOptionalFields .Fields}}
	"database/sql"
{{- end}}
	"{{.ModuleName}}/cmd/app/repo"
)

type Create{{.NameTitle}} struct {
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
	{{$f.NameTitle}} {{$f.GoType}} `json:"{{$f.Name}}" binding:"required"`
{{- else}}
	{{$f.NameTitle}} {{$f.GoType}} `json:"{{$f.Name}}"`
{{- end}}
{{- end}}
}

func (i Create{{.NameTitle}}) ToCreate{{.NameTitle}}Params() repo.Create{{.NameTitle}}Params {
	return repo.Create{{.NameTitle}}Params{
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
		{{$f.NameTitle}}: i.{{$f.NameTitle}},
{{- else}}
		{{$f.NameTitle}}: {{nullConvert $f "i"}},
{{- end}}
{{- end}}
	}
}

type Update{{.NameTitle}} struct {
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
	{{$f.NameTitle}} {{$f.GoType}} `json:"{{$f.Name}}" binding:"required"`
{{- else}}
	{{$f.NameTitle}} {{$f.GoType}} `json:"{{$f.Name}}"`
{{- end}}
{{- end}}
}

func (i Update{{.NameTitle}}) ToUpdate{{.NameTitle}}Params(current repo.{{.NameTitle}}) repo.Update{{.NameTitle}}Params {
	return repo.Update{{.NameTitle}}Params{
		ID: current.ID,
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
		{{$f.NameTitle}}: i.{{$f.NameTitle}},
{{- else}}
		{{$f.NameTitle}}: {{nullConvert $f "i"}},
{{- end}}
{{- end}}
	}
}
