-- +goose Up
-- +goose StatementBegin
CREATE TABLE {{.NamePlural}} (
  id BIGINT AUTO_INCREMENT PRIMARY KEY,
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
  {{$f.Name}} {{$f.SQLType}} NOT NULL,
{{- else}}
  {{$f.Name}} {{$f.SQLType}},
{{- end}}
{{- end}}
  created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE {{.NamePlural}};
-- +goose StatementEnd
