-- +goose Up
-- +goose StatementBegin
CREATE TABLE {{.PluralName}} (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
{{- range $i, $f := .Fields}}
{{- if eq $i 0}}
  {{$f.Name}} {{$f.SQLType}} NOT NULL,
{{- else}}
  {{$f.Name}} {{$f.SQLType}},
{{- end}}
{{- end}}
  created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

CREATE TRIGGER update_{{.PluralName}}_updated_at
AFTER UPDATE ON {{.PluralName}}
BEGIN
    UPDATE {{.PluralName}}
    SET updated_at = CURRENT_TIMESTAMP
    WHERE id = OLD.id;
END;
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE {{.PluralName}};
-- +goose StatementEnd
