-- name: List{{.NameTitle}} :many
SELECT * FROM {{.PluralName}}
ORDER BY created_at DESC
LIMIT ?
OFFSET ?;

-- name: Count{{.NameTitle}} :one
SELECT COUNT(*) AS count FROM {{.PluralName}};

-- name: Get{{.NameTitle}} :one
SELECT * FROM {{.PluralName}}
WHERE id = ? LIMIT 1;

{{- if .Fields}}

-- name: Create{{.NameTitle}} :execresult
INSERT INTO {{.PluralName}} (
  {{fieldNames .Fields}}
) VALUES (
  {{questionParams .Fields}}
);

-- name: Update{{.NameTitle}} :exec
UPDATE {{.PluralName}}
SET {{questionSetClauses .Fields}}
WHERE id = ?;
{{- else}}

-- name: Create{{.NameTitle}} :execresult
INSERT INTO {{.PluralName}} () VALUES ();
{{- end}}

-- name: Delete{{.NameTitle}} :exec
DELETE FROM {{.PluralName}}
WHERE id = ?;
