-- name: List{{.NameTitle}} :many
SELECT * FROM {{.NamePlural}}
ORDER BY created_at DESC
LIMIT ?
OFFSET ?;

-- name: Count{{.NameTitle}} :one
SELECT COUNT(*) AS count FROM {{.NamePlural}};

-- name: Get{{.NameTitle}} :one
SELECT * FROM {{.NamePlural}}
WHERE id = ? LIMIT 1;

-- name: Create{{.NameTitle}} :execresult
INSERT INTO {{.NamePlural}} (
  {{fieldNames .Fields}}
) VALUES (
  {{questionParams .Fields}}
);

-- name: Update{{.NameTitle}} :exec
UPDATE {{.NamePlural}}
SET {{questionSetClauses .Fields}}
WHERE id = ?;

-- name: Delete{{.NameTitle}} :exec
DELETE FROM {{.NamePlural}}
WHERE id = ?;
