package service

import (
	"{{.ModuleName}}/cmd/app/repo"
	"context"
)

type {{.NameTitle}}Service struct {
	Query *repo.Queries
}

func New{{.NameTitle}}Service(q *repo.Queries) *{{.NameTitle}}Service {
	return &{{.NameTitle}}Service{Query: q}
}

{{- if hasParamsStruct .Fields}}

func (s *{{.NameTitle}}Service) Create{{.NameTitle}}(ctx context.Context, arg repo.Create{{.NameTitle}}Params) (repo.{{.NameTitle}}, error) {
	result, err := s.Query.Create{{.NameTitle}}(ctx, arg)
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	id, err := result.LastInsertId()
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	return s.Query.Get{{.NameTitle}}(ctx, id)
}
{{- else if .Fields}}

func (s *{{.NameTitle}}Service) Create{{.NameTitle}}(ctx context.Context, {{(index .Fields 0).Name}} {{(index .Fields 0).GoType}}) (repo.{{.NameTitle}}, error) {
	result, err := s.Query.Create{{.NameTitle}}(ctx, {{(index .Fields 0).Name}})
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	id, err := result.LastInsertId()
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	return s.Query.Get{{.NameTitle}}(ctx, id)
}
{{- else}}

func (s *{{.NameTitle}}Service) Create{{.NameTitle}}(ctx context.Context) (repo.{{.NameTitle}}, error) {
	result, err := s.Query.Create{{.NameTitle}}(ctx)
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	id, err := result.LastInsertId()
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	return s.Query.Get{{.NameTitle}}(ctx, id)
}
{{- end}}

{{- if .Fields}}

func (s *{{.NameTitle}}Service) Update{{.NameTitle}}(ctx context.Context, arg repo.Update{{.NameTitle}}Params) (repo.{{.NameTitle}}, error) {
	err := s.Query.Update{{.NameTitle}}(ctx, arg)
	if err != nil {
		return repo.{{.NameTitle}}{}, err
	}

	return s.Query.Get{{.NameTitle}}(ctx, arg.ID)
}
{{- end}}

func (s *{{.NameTitle}}Service) Delete{{.NameTitle}}(ctx context.Context, id int64) error {
	return s.Query.Delete{{.NameTitle}}(ctx, id)
}

func (s *{{.NameTitle}}Service) Get{{.NameTitle}}(ctx context.Context, id int64) (repo.{{.NameTitle}}, error) {
	return s.Query.Get{{.NameTitle}}(ctx, id)
}

func (s *{{.NameTitle}}Service) List{{.NameTitle}}(ctx context.Context, arg repo.List{{.NameTitle}}Params) ([]repo.{{.NameTitle}}, error) {
	return s.Query.List{{.NameTitle}}(ctx, arg)
}
