package service

import (
	"{{.ModuleName}}/cmd/app/repo"
	"context"
)

type {{.NameTitle}}Service struct {
	Query *repo.Queries
}

func New{{.NameTitle}}Service(q *repo.Queries) *{{.NameTitle}}Service {
	return &{{.NameTitle}}Service{Query: q}
}

func (s *{{.NameTitle}}Service) Create{{.NameTitle}}(ctx context.Context, arg repo.Create{{.NameTitle}}Params) (repo.{{.NameTitle}}, error) {
	return s.Query.Create{{.NameTitle}}(ctx, arg)
}

func (s *{{.NameTitle}}Service) Update{{.NameTitle}}(ctx context.Context, arg repo.Update{{.NameTitle}}Params) (repo.{{.NameTitle}}, error) {
	return s.Query.Update{{.NameTitle}}(ctx, arg)
}

func (s *{{.NameTitle}}Service) Delete{{.NameTitle}}(ctx context.Context, id int64) error {
	return s.Query.Delete{{.NameTitle}}(ctx, id)
}

func (s *{{.NameTitle}}Service) Get{{.NameTitle}}(ctx context.Context, id int64) (repo.{{.NameTitle}}, error) {
	return s.Query.Get{{.NameTitle}}(ctx, id)
}

func (s *{{.NameTitle}}Service) List{{.NameTitle}}(ctx context.Context, arg repo.List{{.NameTitle}}Params) ([]repo.{{.NameTitle}}, error) {
	return s.Query.List{{.NameTitle}}(ctx, arg)
}
