package oidc

import (
	"{{ .Name }}/internal/auth/oauth"
)

const DiscordIssuer = "https://discord.com/api/oauth2"

func NewDiscordProvider(oauthProvider *oauth.Provider, clientID string) *Provider {
	return NewProvider(oauthProvider, DiscordIssuer, clientID, map[string]string{
		"prompt": "consent",
	})
}
