package oidc

import (
	"{{ .Name }}/internal/auth/oauth"
)

const GoogleIssuer = "https://accounts.google.com"

func NewGoogleProvider(oauthProvider *oauth.Provider, clientID string) *Provider {
	return NewProvider(oauthProvider, GoogleIssuer, clientID, nil)
}