package oidc

import (
	"{{ .Name }}/internal/auth/oauth"
)

const LinkedInIssuer = "https://www.linkedin.com"

func NewLinkedInProvider(oauthProvider *oauth.Provider, clientID string) *Provider {
	return NewProvider(oauthProvider, LinkedInIssuer, clientID, nil)
}
