package oidc

import (
	"{{ .Name }}/internal/auth/oauth"
)

const TwitchIssuer = "https://id.twitch.tv/oauth2"

func NewTwitchProvider(oauthProvider *oauth.Provider, clientID string) *Provider {
	return NewProvider(oauthProvider, TwitchIssuer, clientID, map[string]string{
		"claims": `{"id_token":{"email":null,"email_verified":null}}`,
	})
}
