package utils_test

import (
	"{{ .Name }}/internal/constants"
	"{{ .Name }}/internal/utils"
	"github.com/golang-jwt/jwt/v5"
	"testing"
	"time"
)

func TestCreateJwt(t *testing.T) {
	testUser := "test@example.com"
	tokenString, err := utils.CreateJwt(testUser)

	if err != nil {
		t.Fatalf("Expected no error, got %v", err)
	}

	token, err := jwt.Parse(tokenString, func(token *jwt.Token) (interface{}, error) {
		return constants.SigningKey, nil
	})

	if err != nil {
		t.Fatalf("Expected no error during parsing, got %v", err)
	}

	if claims, ok := token.Claims.(jwt.MapClaims); ok && token.Valid {
		if claims["sub"] != testUser {
			t.Errorf("Expected sub claim to be %s, got %v", testUser, claims["sub"])
		}
		if exp, ok := claims["exp"].(float64); !ok || exp < float64(time.Now().Unix()) {
			t.Errorf("Expected valid exp claim, got %v", exp)
		}
	} else {
		t.Errorf("Token is invalid or claims are missing")
	}
}
