package storage

import (
	"mime/multipart"

	"github.com/aws/aws-sdk-go/service/s3"
)

type MockStorage struct{}

func (m *MockStorage) Get(key string) (string, error) {
	return "", nil
}

func (m *MockStorage) List(prefix string) ([]*s3.Object, error) {
	return []*s3.Object{}, nil
}

func (m *MockStorage) Upload(key string, file multipart.File) (string, error) {
	return "", nil
}

func (m *MockStorage) Delete(key string) error {
	return nil
}
