-- +goose Up
-- +goose StatementBegin
CREATE TABLE user_auth_tokens (
  id VARCHAR(255) PRIMARY KEY,
  user_id BIGINT NOT NULL,
  type VARCHAR(50) NOT NULL CHECK(type IN ('magic_link', 'reset_password', 'confirm_email')),
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES users(id)
);
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE user_auth_tokens;
-- +goose StatementEnd

