package password

import (
	"github.com/alexedwards/argon2id"
)

var SigningKey = []byte("notsecure")

func HashPassword(password string) (string, error) {
	return argon2id.CreateHash(password, argon2id.DefaultParams)
}

func VerifyPassword(password, hash string) (bool, error) {
	return argon2id.ComparePasswordAndHash(password, hash)
}
