package html

import (
	"embed"
	"io/fs"
	"log"
)

//go:embed all:static
var staticFS embed.FS

var StaticFS = func() fs.FS {
	sub, err := fs.Sub(staticFS, "static")
	if err != nil {
		log.Fatal("html: embedded static fs: ", err)
	}
	return sub
}()
