package server

import (
	"github.com/gin-gonic/gin"
	{{if eq .Type "web"}}"{{ .Name }}/static"
	"{{ .Name }}/internal/gintemplrenderer"{{ end }}
)

func initRouter(app *application) *gin.Engine {
	r := gin.Default()
	{{ if eq .Type "web"}}r.HTMLRender = gintemplrenderer.Default
	r.SetTrustedProxies(nil)

	r.Use(static.ServePublic())

	r.GET("/", app.home){{ end }}
	r.GET("/health", app.health)

	return r
}
