{{- if eq .Database.String "postgres" }}
services:
  db:
    image: postgres:17
    container_name: dev_postgres
    restart: unless-stopped
    ports:
      - "0.0.0.0:5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: {{ .Name }}
    volumes:
      - postgres_data:/var/lib/postgresql/data

{{- if .Redis }}
  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
{{ end }}

volumes:
  postgres_data:

{{- else if eq .Database.String "mysql" }}
services:
  mysql:
    image: mysql:8.0
    container_name: dev_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_DATABASE: {{ .Name }}
    volumes:
      - mysql_data:/var/lib/mysql

{{- if .Redis }}
  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
{{- end }}

volumes:
  mysql_data:

{{- else }}
  {{- if .Redis }}
services:
  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
  {{- end }}
{{- end }}
