package billing

import (
	"github.com/stripe/stripe-go/v83"
)

type StripeBilling struct {
	client *stripe.Client
}

type StripeBillingConfig struct {
	SecretKey string
}

func NewStripeBilling(cfg *StripeBillingConfig) *StripeBilling {
	sc := stripe.NewClient(cfg.SecretKey)

	return &StripeBilling{
		client: sc,
	}
}

func (b *StripeBilling) Client() *stripe.Client {
	return b.client
}
