package oauth

import (
	"testing"
)

func TestGeneratePKCEChallenge(t *testing.T) {
	challenge, err := GeneratePKCEChallenge()
	if err != nil {
		t.Fatalf("GeneratePKCEChallenge() error = %v", err)
	}

	if len(challenge.CodeVerifier) == 0 {
		t.Fatal("CodeVerifier should not be empty")
	}

	if len(challenge.CodeChallenge) == 0 {
		t.Fatal("CodeChallenge should not be empty")
	}
}

func TestGeneratePKCEChallengeMultipleCalls(t *testing.T) {
	challenge1, err := GeneratePKCEChallenge()
	if err != nil {
		t.Fatalf("GeneratePKCEChallenge() error = %v", err)
	}

	challenge2, err := GeneratePKCEChallenge()
	if err != nil {
		t.Fatalf("GeneratePKCEChallenge() error = %v", err)
	}

	if challenge1.CodeVerifier == challenge2.CodeVerifier {
		t.Fatal("CodeVerifier should be unique between calls")
	}

	if challenge1.CodeChallenge == challenge2.CodeChallenge {
		t.Fatal("CodeChallenge should be unique between calls")
	}
}
