-- name: ListMemberships :many
SELECT * FROM memberships
WHERE user_id = ?
ORDER BY id;

-- name: GetMembership :one
SELECT * FROM memberships
WHERE id = ? LIMIT 1;

-- name: CreateMembership :one
INSERT INTO memberships (
  organization_id, user_id, role
) VALUES (
  ?, ?, ?
)
RETURNING *;

-- name: UpdateMembership :one
UPDATE memberships
set organization_id  = ?,
user_id  = ?,
role = ?
WHERE id = ?
RETURNING *;

-- name: DeleteMembership :exec
DELETE FROM memberships
WHERE id = ?; 