{{- define "redis" }}
  redis:
    image: redis:7
    container_name: dev_{{ .Name}}_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
{{- end }}

{{- define "postgres" }}
  db:
    image: postgres:17
    container_name: dev_{{ .Name}}_postgres
    restart: unless-stopped
    ports:
      - "0.0.0.0:5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: {{ .Name }}
    volumes:
      - postgres_{{ .Name }}_data:/var/lib/postgresql/data
{{- end }}

{{- define "mysql" }}
  mysql:
    image: mysql:8.0
    container_name: dev_{{ .Name}}_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
      MYSQL_DATABASE: {{ .Name }}
    volumes:
      - mysql_{{ .Name }}_data:/var/lib/mysql
{{- end }}

{{- $volName := "" -}}
services:
{{- if eq .Database.String "postgres" }}
{{ template "postgres" . }}
{{- $volName = printf "postgres_%s_data" .Name }}
{{- else if eq .Database.String "mysql" }}
{{ template "mysql" . }}
{{- $volName = printf "mysql_%s_data" .Name }}
{{- end }}

{{- if .Redis }}
{{ template "redis" . }}
{{- end }}

{{- if $volName }}
volumes:
  {{ $volName }}:
{{- end }}

