package storage

import (
	"mime/multipart"

	"github.com/aws/aws-sdk-go/service/s3"
)

type Storage interface {
	Get(key string) (string, error)
	List(prefix string) ([]*s3.Object, error)
	Upload(key string, file multipart.File) (string, error)
	Delete(prefix string) error
}
