package smtp

import (
	"fmt"
	"time"
)

type MockMailer struct {
}

func NewMockMailer() *MockMailer {
	return &MockMailer{}
}

func (f *MockMailer) Send(email Email) error {
	content := fmt.Sprintf("Time: %s\nTo: %s\nFrom: %s\nSubject: %s\nBody:\n%s\n\n",
		time.Now().Format(time.RFC3339), email.To, "test@example.com", email.Subject, email.Body)

	fmt.Println(content)

	return nil
}
